<form action ="/items" method ="POST">
  <p>Nama: <input type="text" name="nama"></p>
  <p>Daftar Belanja Tanggal: <input type="date" name="tanggal"></p>
  <p>Belanjaan 1 <input type="text" id="barang1" name="barang1"></p>
  <p>Belanjaan 2 <input type="text" id="barang2" name="barang2"></p>
  <input type="submit">
</form>